@reference "../../../../styles.css";

button {
  @apply w-full h-16 outline-none focus:outline-none hover:bg-indigo-700/20 text-white/70 text-xl font-light;
}
/* ::ng-deep .is-command {
  @apply bg-indigo-700 hover:bg-indigo-700/20;
} */

.is-command {
  @apply bg-indigo-700 hover:bg-indigo-700/20 text-white;
}

.is-pressed {
  @apply bg-indigo-800/20;
}